body{
    margin: 0;
    padding: 0;
}

/* ---------Nav Bar-------- */

nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#multi{
    font-size: 2.2rem;
    margin-left: 2rem;
    color: black;
    text-decoration: none;
    display: flex;
}
#multim{
    color: red;
}
ul{
    display: flex;
    
    margin-right: 1rem;
    gap: 6rem;
    list-style: none;
    font-size: 1.5rem;
}

ul a{
text-decoration: none;
color: black;
}

/* ----------Slider------- */
#sliders{
    position: relative;
    
    
}
#previous{
    position: absolute;
    top: 45.5%;
    height: 4rem;
    font-size: 2rem;
}
#next{
    position: absolute;
    top: 45.5%;
    right: 0%;
    height: 4rem;
    font-size: 2rem;
}
#image{
    width: 100%;
    
}
/* -------client solution section-----------*/
#solh2{
    text-align: center;

}
#solh1{
    text-align: center;
}
#mainsolution{
    display: flex;
    justify-content: space-between;

    align-items: center;
}
.four{
    width: 22%;
    
    text-align: center;
    height: 9rem; 
}
.fa-solid{
    color: red;
}
#mainsolution i {
margin-top:3rem;
}
#mainsolution p{
    margin-top: 2.2rem;
}
/* -------------main features--------- */
#mainfea{
    text-align: center;
}
#feap{
    width: 50%;
    margin-left: 25%;
}
#feaimg{
    display: flex;

    justify-content: space-between;
}
.img1{
    width: 40%;
}
#feainfo{
    display: flex;
    gap: 5%;
}
.logo{
    font-size: 3rem;
    padding-top: 4rem;
}
.info{
    width: 30%;
    display: flex;
    
}
#learn{
    background-color: orangered;
    text-align: center;
    height: 300px;
}
#learn h1{
    padding-top: 7rem;
}
#learn p{
    margin-top: 0rem;
}
#learn div{
    margin-top: 2rem;
}

/* -------About us-------- */
#abouth2{
    text-align: center;

}
#abouth1{
    text-align: center;
}
#about{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7rem;
    align-items: center;
}
.four2{
    width: 22%;
    
    text-align: center;
    height: 9rem; 
}
#about img{
    border-radius: 30%;
}
/* --------footer------- */
footer{
    background-color: rgb(56, 46, 46);
    display: flex;
    gap: 5%;
    padding-left: 5rem;
    padding-right: 5rem;
    height: 400px;
    color: white;
    
}
.foot{
    margin-top: 5rem;
    width: 28%;
}
.foot h1{
    margin-bottom: 2rem;
}
.foot p{
    margin-bottom: 2rem;
}
.foot a{
    color: white;
    text-decoration: none;
    margin-bottom: 2rem;
}
.foot hr{
    font-weight: 900;
    margin-bottom: 2rem;
}
/* -------main footer------- */
#footfoot{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    

}
#multi1{
    font-size: 1.5rem;
    margin-left: 5rem;
    
    text-decoration: none;
    color: white;
    
}

#footfoot ul{
    display: flex;
    
    margin-right: 1rem;
    gap: 3rem;
    list-style: none;
    font-size: 1rem;
}

#footfoot ul a{
text-decoration: none;
color:white;
}




/* ==========Mobile Version========= */

/* --------Navbar----------- */
@media(max-width:888px){
    ul{
       display: none;
        
    }
    
}

/* ---------slider-------- */
@media(max-width:777px){
#previous{
    position: absolute;
    top: 40%;
    height: 2rem;  
}
#next{
    position: absolute;
    top: 40%;
    height: 2rem;  
}

}
@media(max-width:300px){
    #previous{
        position: absolute;
        top: 30%;
        height: 2rem;  
        text-align: center;
        
    }   
    #next{
        position: absolute;
        top: 30%;
        height: 2rem;  
        text-align: center;
    }   
}

/* ----------solution section-------- */
@media(max-width:555px){
    #mainsolution{
        display: block;  
    }
    .four{
        width: 100%;
       
    }
}
/* ----------main features----------- */
@media(max-width:1400px){
    #feaimg{
        display: block;
        width: 100%;
        
    }
}
@media(max-width:597px){
    .img1{
        
        display: none;
    }
    #feainfo{
        display: block;
        width: 100%;
        
    }
    .info{
        width: 100%;
        display: block;
        
    }
}
/* --------learn more------ */
@media(max-width:358px){
    #learn h1{
        padding-top: 2rem;
    }

}
/* ----------about us-------- */
@media(max-width:658px){
    #about{
        display: block;  
    }
    .four2{
        width: 100%;
       
    }
    #about img{
        height: 5rem;
    }
    .full{
        display: block;
        height: 60px;
        margin-top: 5rem;
    }
   
}
@media(max-width:698px){
    #about p{
        display: none;
    }
}
@media(max-width:558px){
    #about p{
        display: block;
    }
}
/* -----footer------ */
@media(max-width:930px){
    footer{
        display: block; 
        height: 950px; 

    }
    .foot{
        width: 100%;
    }
}
@media(max-width:365px){
    footer{
        display: block; 
        height: 1300px; 

    }
    .foot{
        width: 100%;
    }
}
/* main foot */
@media(max-width:930px){
#footfoot ul{
    display: none;
}
}